<a href="https://colab.research.google.com/github/shraddhaboste/Celebal/blob/main/Week3_assignment(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List->

creating a list:

In [1]:
#int
l1=[1,2,3,4,5,6]
#string
l2=["apple","mango","orange"]
print("Integer list:",l1)
print("String list:",l2)

Integer list: [1, 2, 3, 4, 5, 6]
String list: ['apple', 'mango', 'orange']

Duplicate value in string:

In [2]:
l1=[1,2,3,4,5,1,2,3]
print("Duplicate value:",l1)

Duplicate value: [1, 2, 3, 4, 5, 1, 2, 3]

List slicing:

In [ ]:
l1=[1,2,3,4,5,6,7,8,9,10]
print("current list:",l1)
#access value of index 1
print("index 1 value:",l1[1])
#access value between 1 to 6
print("index between 1 to 6:",l1[1:6])
#access value till index 6
print("index till 6:",l1[:6])
#access last value from list
print("last value:",l1[-1])

Change list item:

In [ ]:
x=["apple","banana","cherry","mango","orange"]
print("current list",x)
#change item in list
x[1:3]=["grapes","watermelon"]
print("updated list:",x)

Tuple->

creating a tuple

In [ ]:
t1=("apple","orange",1,2,3,4,5,6,10.5,5,12.4)
print("current list:",t1)

How to check length of tuple

In [ ]:
t2=(1,2,3,4,5,6,7)
print(len(t2))

Slicing

In [ ]:
#access value using index
t1=("apple","orange",1,2,3,4,5,6,10.5,5,12.4)
print("current tuple:",t1)
print("index 1 value:"t1[1])
#access value between 1 to 6
print("index between 1 to 6:",t1[1:6])
#access last value from list
print("last value:",t1[-1])
#access value till index 6
print("index till 6:",t1[:6])

convert tuple into list

In [ ]:
t1=("apple","orange",1,2,3,4,5,6,10.5,5,12.4)
print("current tuple:",t1) #before change
x=list(t1)
print("after convert:",x) #after change

Loop with tuple

In [3]:
t1=("apple","banana","cherry","mango","orange")
for i in t1:
  print(i)

apple
banana
cherry
mango
orange

Dictionary->

creating a dictionary->

In [ ]:
d1={1:"apple",2:"mango",3:"orange",4:"apple"}

Access value of dictionary

In [ ]:
d1={1:"apple",2:"mango",3:"orange",4:"apple"}
print("current dictionary:",d1)

Access value using key

In [ ]:
d1={1:"apple",2:"mango",3:"orange",4:"cherry"}
x=d1[3]
print(x)

Access value using key

In [ ]:
Access value using key
x=d1.item()
print(x)

change the value

In [ ]:
d1={1:"apple",2:"mango",3:"orange",4:"cherry"}
d1[3]="kiwi"
print("updated dict:",d1)

set->

create a set

In [ ]:
s1 = {"apple", "banana", "cherry"}
print(s1))

Duplicate values will be ignored

In [ ]:
s1 = {"apple", "banana", "cherry", "apple"}

print(s1)

Get the number of items in a set

In [ ]:
s1 = {"apple", "banana", "cherry"}

print(len(s1))

data type of a set

In [ ]:
s1 = {"apple", "banana", "cherry"}
print(type(s1))

Loop through the set

In [ ]:
s1 = {"apple", "banana", "cherry"}

for x in s1:
  print(x)

Membership operator->

In operator:

In [ ]:

list1=[1,2,3,4,5] 
list2=[6,7,8,9] 
for item in list1: 
    if item in list2: 
        print("overlapping")     
else: 
    print("not overlapping")

Not In Operator:

In [ ]:
x = 24
y = 20
list = [10, 20, 30, 40, 50 ]; 
 
if ( x not in list ): 
 print ("x is NOT present in given list")
else: 
print ("x is present in given list")
 
if ( y in list ): 
 print ("y is present in given list")
else: 
 print ("y is NOT present in given list")

Built-in function:

In [ ]:
#print()
print("Hello Python")

In [10]:
#type()
a = ('apple', 'banana', 'cherry')
b = "Hello World"
c = 33

x = type(a)
y = type(b)
z = type(c)
print("output 1",x)
print("output 2",y)
print("output 3",z)

output 1 <class 'tuple'>
output 2 <class 'str'>
output 3 <class 'int'>

In [ ]:
#input()
x = input('Enter your name:')
print('Hello, ' + x)

In [9]:
#abs()
x = abs(-7.25)
print("output",x)

output 7.25

In [8]:
#any
s1 = [False, True, False]
x = any(s1)
print("output",x)

output True

In [7]:
#all
s1 = [True, True, True]
x = all(s1)
print("output",x)

output True